/* HERE YOU CAN DEFINE YOUR OWN CUSTOM VARIABLES FOR COLORS */

/* You can uncomment and change these variables to change the theme appearance */

/* body color and background */
$body-bg: #367658;
$body-color: #02130b;

/* main palette */
$primary: #0c2217;
$secondary: #E0DEDC;
$dark: $body-color;
$light: $body-bg /* used for text in dark sections */;

/* others */
$input-focus-border-color: $body-color;
$input-btn-focus-box-shadow: 0 0 1px 2px $body-color;
$border-color: tint-color($body-color, 85%);
$input-bg: tint-color($light, 15%);

$surface-card: mix($secondary, #ffffff, 45%) !default;
$card-border:  rgba($primary, .18) !default;

:root {
  --primary:      #{$primary};
  --secondary:    #{$secondary};
  --body-color:   #{$body-color};
  --body-bg:      #{$body-bg};
  --surface-card: #{$surface-card};
  --card-border:  #{$card-border};
}
