<head>
  {{ if .IsHome }}
    <title>
      {{ .Page.Title }}
      {{ .Site.Title }}
      {{ .Site.Params.subtitle }}
    </title>
  {{ else }}
    <title>
      {{ .Page.Title }} |
      {{ .Site.Title }}
      {{ .Site.Params.subtitle }}
    </title>
  {{ end }}
  <meta charset="utf-8" />
  <meta
    name="description"
    {{ if.Page.Description }}
      content="{{ .Page.Description }}"
    {{ else }}
      content="{{ .Page.Summary }}"
    {{ end }}
  />

  <meta name="dc.relation" content="{{ .Site.BaseURL }}" />

  <meta name="robots" content="index,follow" />
  


  <!-- Google / Search Engine Tags -->
  <meta
    itemprop="name"
    content="{{ .Page.Title }} {{ .Site.Title }} {{ .Site.Params.subtitle }}"
  />
  <meta
    itemprop="description"
    {{ if.Page.Description }}
      content="{{ .Page.Description }}"
    {{ else }}
      content="{{ .Page.Summary }}"
    {{ end }}
  />

  {{/* Image */}}
  {{ with .Resources.GetMatch "images/featured.*" }}
    <meta itemprop="image" content="{{ . }}" />
  {{ else }}
    <meta
      itemprop="image"
      content="{{ resources.GetMatch "img/meta-image.*" | absURL }}"
    />
  {{ end }}


  <!-- Facebook Meta Tags -->
  <meta property="og:url" content="{{ .Permalink }}" />
  <meta property="og:type" content="website" />
  <meta
    property="og:title"
    content="{{ .Page.Title }} {{ .Site.Title }} {{ .Site.Params.subtitle }}"
  />
  <meta
    property="og:description"
    {{ if.Page.Description }}
      content="{{ .Page.Description }}"
    {{ else }}
      content="{{ .Page.Summary }}"
    {{ end }}
  />
  {{ with .Resources.GetMatch "images/featured.*" }}
    <meta property="og:image" content="{{ . }}" />
  {{ else }}
    <meta
      property="og:image"
      content="{{ resources.GetMatch "img/meta-image.*" | absURL }}"
    />
  {{ end }}


  <!-- Twitter Meta Tags -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta
    name="twitter:title"
    content="{{ .Page.Title }} {{ .Site.Title }} {{ .Site.Params.subtitle }}"
  />
  <meta
    name="twitter:description"
    {{ if.Page.Description }}
      content="{{ .Page.Description }}"
    {{ else }}
      content="{{ .Page.Summary }}"
    {{ end }}
  />
  {{ with .Resources.GetMatch "images/featured.*" }}
    <meta name="twitter:image" content="{{ . }}" />
  {{ else }}
    <meta
      name="twitter:image"
      content="{{ resources.GetMatch "img/meta-image.*" | absURL }}"
    />
  {{ end }}


  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
  />
  <meta name="theme-color" content="#1A94D2" />

  {{/* This adds bootstrap CSS */}}
  {{ $options := (dict "targetPath" "css/styles.css" "outputStyle" "compressed") }}
  {{ $style := resources.Get "/scss/main.scss" | toCSS $options | minify }}
  <link rel="stylesheet" href="{{ $style.RelPermalink }}" media="screen" />

  {{ $cards := resources.Get "scss/custom-cards.scss" | toCSS | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $cards.RelPermalink }}" integrity="{{ $cards.Data.Integrity }}">

  {{ $cards := resources.Get "scss/custom-socials.scss" | toCSS | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $cards.RelPermalink }}" integrity="{{ $cards.Data.Integrity }}">

  {{/* Favicon */}}
  {{ $theme := .Site.Params.themeColor | default "#367658" }}

  {{/* Get conventional files if present */}}
  {{ $ico      := resources.Get "img/favicon.ico" }}
  {{ $svg      := resources.Get "img/favicon.svg" }}
  {{ $png16    := resources.Get "img/favicon-16x16.png" }}
  {{ $png32    := resources.Get "img/favicon-32x32.png" }}
  {{ $apple    := resources.Get "img/apple-touch-icon.png" }}
  {{ $andr192  := resources.Get "img/android-chrome-192x192.png" }}
  {{ $andr512  := resources.Get "img/android-chrome-512x512.png" }}
  {{ $mask     := resources.Get "img/safari-pinned-tab.svg" }}
  {{ $manifest := resources.Get "img/site.webmanifest" }}
  {{ $mstile   := resources.Get "img/mstile-150x150.png" }}
  {{ $msconf   := resources.Get "img/browserconfig.xml" }}

  {{/* Optional: derive 16/32 from a master PNG if sized ones are missing */}}
  {{ $masterPng := resources.Get "img/favicon.png" }}
  {{ if and (not $png32) $masterPng }}{{ $png32 = $masterPng.Resize "32x32" }}{{ end }}
  {{ if and (not $png16) $masterPng }}{{ $png16 = $masterPng.Resize "16x16" }}{{ end }}

  {{ with $ico      }}<link rel="shortcut icon" href="{{ .RelPermalink }}" type="image/x-icon">{{ end }}
  {{ with $svg      }}<link rel="icon" type="image/svg+xml" href="{{ .RelPermalink }}">{{ end }}
  {{ with $png32    }}<link rel="icon" type="image/png" sizes="32x32" href="{{ .RelPermalink }}">{{ end }}
  {{ with $png16    }}<link rel="icon" type="image/png" sizes="16x16" href="{{ .RelPermalink }}">{{ end }}
  {{ with $apple    }}<link rel="apple-touch-icon" sizes="180x180" href="{{ .RelPermalink }}">{{ end }}
  {{ with $andr192  }}<link rel="icon" type="image/png" sizes="192x192" href="{{ .RelPermalink }}">{{ end }}
  {{ with $andr512  }}<link rel="icon" type="image/png" sizes="512x512" href="{{ .RelPermalink }}">{{ end }}
  {{ with $mask     }}<link rel="mask-icon" href="{{ .RelPermalink }}" color="{{ $theme }}">{{ end }}
  {{ with $manifest }}<link rel="manifest" href="{{ .RelPermalink }}">{{ end }}
  {{ with $mstile   }}<meta name="msapplication-TileImage" content="{{ .RelPermalink }}">{{ end }}
  {{ with $msconf   }}<meta name="msapplication-config" content="{{ .RelPermalink }}">{{ end }}

  <meta name="theme-color" content="{{ $theme }}">
  <meta name="msapplication-TileColor" content="{{ $theme }}">

  
  <!-- Google Analytics -->
  {{ template "_internal/google_analytics.html" . }}
</head>
